.Puntos{
    position: absolute;
    width: 15vw;
    height: auto;

    background-color:rgb(189, 30, 30);
    border-radius: 10px;

    padding: 10px;
    z-index: 10;

    top: 10vh;
    left: 5vw;

}

.mejoras{
    position: absolute;
    width: 15vw;
    height: auto;

    background-color:rgb(124, 18, 114);
    border-radius: 10px;

    padding: 10px;
    z-index: 10;

    top: 10vh;
    right: 5vw;
    display: flex;
    flex-direction: column;
    gap:5px;

}